
body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  align-self: center;

}

.wrapper{
  width: 85%;
}

div{
  background: #f3f3f3;
  display: block;
}

header{
  background: #1c1c1c;
  margin: 0;
  color: #f3f3f3;
  text-align: center;
  width: 100%;
  height: 100px;
}

.header {
  position: relative;
  background: #1c1c1c;
  width: 100%;
}

.header:after {
  background: linear-gradient(-45deg, #f3f3f3 16px, transparent 0), linear-gradient(45deg, #f3f3f3 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}

h1{
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 60px;
  margin: 0;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;

}

h2 {
  text-align: left;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  color: black;
  font-weight: bold;

}

p{
  color: #cccccc;

}

ul{
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

li{
  color: #CCCCCC;
  border-right: 2px solid #cccccc;
}

span{
  color: #a0bdbe;
  font-size: 15px;
}

.basics{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 50px 50px 75px 100px;

  padding-left: 0;
}

.story{
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 75px 10px;
}

img{
  width: 110px;
  height: 110px;
  border-radius: 50px;
}

.image{
  width: 30%;
  justify-content: space-around;
  align-content: space-around;
  margin-left: 75px;
  margin-top: 125px;
}
